# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.dist/
.build/
.venv/
.venv*/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Outputs
out*/
plots*/
*.png
*.csv
site/
data/
data/
*.npz
